@model SparWeb.Models.ConfirmSparDetailsViewModel

@{
    ViewBag.Title = "Spar Confirmation Details";
}

@section head {
    @Styles.Render("~/Content/css/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
}

<div class="row sparConfirmationRow">
    <h2>Please select Date and Location for the following spar:</h2>
</div>
@using (Html.BeginForm("ConfirmSparDetails", "Spar", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorFor(m => m.SparRequestId)
    
    { Html.RenderPartial("SparConfirmationInfo", Model); }

    <div class="row sparConfirmationSectionRow">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SparDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                        @Html.TextBoxFor(m => m.SparDate, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SparDate) })
                        @Html.ValidationMessageFor(m => m.SparDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row sparConfirmationRow">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SparTime, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(m => m.SparTime, "SparTime")
                    @Html.ValidationMessageFor(m => m.SparTime)
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Location</label>
                <div class="col-md-9">
                    @if (Model.ThisFighterGym != null && Model.OpponentFighterGym != null && Model.ThisFighterGym.Id != Model.OpponentFighterGym.Id)
                    {
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.SparGymID, Model.ThisFighterGym.Id, new { @checked = "checked" })
                            <b>Your gym</b> (@Model.ThisFighterGymName)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.SparGymID, Model.OpponentFighterGym.Id)
                            <b>@Model.OpponentFighterName's gym</b> (@Model.OpponentFighterGymName)
                        </label>
                    </div>
                    }
                    else if ((Model.ThisFighterGym != null && Model.OpponentFighterGym != null && Model.ThisFighterGym.Id == Model.OpponentFighterGym.Id) || (Model.ThisFighterGym != null && Model.OpponentFighterGym == null))
                    {
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.SparGymID, Model.ThisFighterGym.Id)
                            <b>Your gym</b> (@Model.ThisFighterGymName)
                        </label>
                    </div>
                    }
                    else if (Model.OpponentFighterGym != null && Model.ThisFighterGym == null )
                    {
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.SparGymID, Model.OpponentFighterGym.Id)
                            <b>@Model.OpponentFighterName's gym</b> (@Model.OpponentFighterGymName)
                        </label>
                    </div>
                    }
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.SparGymID, -1)
                            <b>Other place</b> (please specify in the notes)
                        </label>
                    </div>                                        
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
        
<div class="row sparConfirmationSectionRow">
    <div class="col-md-4"></div>
    <div class="col-md-1">
        @Html.ActionLink("Cancel", "Index", "Account", null, new { @class = "btn btn-default btn-lg" })
    </div>
    <div class="col-md-3">
        <input type="submit" value="Respond to Spar Request" class="btn btn-default btn-danger btn-lg" />
    </div>
    <div class="col-md-4"></div>
</div>   
}

@section scripts {
    <script>
        $(function () {
            $('#SparDate').datepicker();
        });
    </script>

}
