@model SparWeb.Models.ConfirmSparDetailsViewModel

@{
    ViewBag.Title = "Spar Confirmation Details";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-success text-center" role="alert">
            <p><strong>Thanks for confirming the spar.</strong></p>
            <p>@Model.OpponentFighterName will be notified about date, time and location you proposed. We will let you know if @Model.OpponentFighterName accepts it or proposes another change.</p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@{Html.RenderPartial("SparConfirmationInfo", Model);}

<div class="row sparInformation">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Spar Information</h1>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>@Html.LabelFor(m => m.SparDate, new { @class = "control-label" }):</dt>
                    <dd>@Model.SparDate.Value.ToString("dddd, MMMM d, yyyy")</dd>
                    <dt>@Html.LabelFor(m => m.SparTime, new { @class = "control-label" }):</dt>
                    <dd>@Model.SparTime</dd>
                    <dt>@Html.LabelFor(m => m.SparGym, new { @class = "control-label" }):</dt>
                    @if (Model.SparGym != null)
                    {
                        <dd>@Model.SparGym.Name</dd>
                    }
                    else
                    {
                        <dd>N/A</dd>
                    }
                    @if (String.IsNullOrEmpty(Model.SparNotes) == false)
                    {
                        <dt>@Html.LabelFor(m => m.SparNotes, new { @class = "control-label" }):</dt>
                        <dd>@Html.DisplayFor(m => m.SparNotes)</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
