@model SparWeb.Models.SparConfirmationViewModel

@{
    ViewBag.Title = "Spar Confirmation";
}

@{
    var sparConfirmationInfo = Model;
}

@using (@Html.BeginForm("ConfirmSpar", "Spar", new { FighterId = Model.ThisFighter.SparIdentityUser.Id, OpponentId = Model.OpponentFighter.SparIdentityUser.Id }, FormMethod.Post))
{
    <div class="row text-center">
		@if (Model.ThisFighter.Trainer != null)
		{
			<h2 class="sparDetailsStatus">Please, confirm that you want @Model.ThisFighter.Name to spar @Model.OpponentFighter.Name.</h2>
		}
		else
		{
			<h2 class="sparDetailsStatus">Please, confirm that you want to spar @Model.OpponentFighter.Name.</h2>
		}
    </div>
	
	{ Html.RenderPartial("SparConfirmationInfo", sparConfirmationInfo); }

	<div id="sparDetailsEdit">
		<div class="row sparConfirmationSectionRow">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-offset-2 col-md-8">
						<div class="inner-addon left-addon">
							@Html.TextAreaFor(m => m.SparNotes, 2, 4, new { @class = "form-control", placeholder = String.Format("Leave a message... (optional)", Html.DisplayNameFor(m => m.SparNotes)) })
							@Html.ValidationMessageFor(m => m.SparNotes)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row sparConfirmationSectionRow">
        <div class="col-md-4"></div>
        <div class="col-md-3 col-xs-12 bottom">
            <input value="Confirm Spar Request" class="btn btn-default btn-danger btn-lg col-xs-12" type="submit">
        </div>
        <div class="col-md-2 col-xs-12">
            <a href="javascript:window.history.back();" class="btn btn-default btn-lg col-xs-12">Cancel</a>
        </div>
        <div class="col-md-4"></div>
    </div>
}


