@model SparWeb.Models.ConfirmSparDetailsViewModel

@{
    ViewBag.Title = "Spar Confirmation Details";

	string opponentName = (Model.OpponentFighter.Trainer != null) ? "Trainer " + Model.OpponentFighter.Trainer.Name : Model.OpponentFighter.Name;
}

@section head {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Styles/css/bootstrap-datepicker")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
}

@if (ViewBag.ShowSuccessMessage == true)
{
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="alert alert-success text-center" role="alert">
				@if (Model.SparRequesStatus == SparModel.SparRequestStatus.DateLocationNegotiation)
				{
					<p><strong>Thanks for scheduling the spar.</strong></p>
					<p>@opponentName will be notified with the date, time and location you proposed. We will let you know if @opponentName accepts it or proposes another change.</p>
				}
				else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Confirmed)
				{
					<p><strong>Thanks for confirming the spar.</strong></p>
					<p>@opponentName will be notified with the date, time and location of the spar. Good luck!</p>
				}
				else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Canceled)
				{
					<p><strong>Thanks for canceling the spar.</strong></p>
					<p>@opponentName will be notified about spar cancelation.</p>
				}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
}

<div class="row text-center">
    @if (Model.SparRequesStatus == SparModel.SparRequestStatus.Requested && Model.IsThisFighterLastNegotiator() == false)
    { 
        <h2 class="sparDetailsStatus">Please select Date and Location for the following spar:</h2>
    }
    else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Requested && Model.IsThisFighterLastNegotiator() == true)
    {
        <h2 class="sparDetailsStatus">The spar request is already sent. Please wait for response ...</h2>
    }
    else if (Model.SparRequesStatus == SparModel.SparRequestStatus.DateLocationNegotiation)
    {
		if (Model.SparDate > DateTime.Now.AddDays(1))
		{ 
			if (Model.OpponentFighter.Trainer != null)
			{
				<h2 class="sparDetailsStatus">Trainer @Model.OpponentFighter.Trainer.Name of @Model.OpponentFighter.Name agreed to the spar! Please confirm or propose a change ...</h2>
			}
			else if (Model.ThisFighter.Trainer != null)
			{
				<h2 class="sparDetailsStatus">@Model.OpponentFighter.Name agreed to spar @Model.ThisFighter.Name! Please confirm or propose a change ...</h2>
			}
			else
			{
				<h2 class="sparDetailsStatus">@Model.OpponentFighter.Name agreed to spar you! Please confirm or propose a change ...</h2>
			}
		}
		else
		{
			<h2 class="sparDetailsStatus">This spar has been expired. @Html.ActionLink("Request another spar with this figther", "SparConfirmation", "Spar", new { ID = Model.OpponentFighter.SparIdentityUser.Id }, null).</h2>
		}
	}
	else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Confirmed)
	{
        <h2 class="sparDetailsStatus">A spar with @Model.OpponentFighter.Name has been confirmed ...</h2>
    }
    else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Canceled)
    {
        <h2 class="sparDetailsStatus">This spar with @Model.OpponentFighter.Name has been cancelled. @Html.ActionLink("Request another spar", "SparConfirmation", "Spar", new { ID = Model.OpponentFighter.SparIdentityUser.Id }, null).</h2>
    }
</div>

<div class="sparConfirmationInstructionRow">
    <form id="formSparDetails" method="post" action="@Url.Action("ChangeSparDetails", "Spar")" class="form-horizontal">
        @Html.HiddenFor(m => m.SparRequestId)
        @Html.HiddenFor(m => m.SparRequesStatus)

        @{Html.RenderPartial("SparConfirmationInfo", Model);}

		@if (Model.SparRequesStatus == SparModel.SparRequestStatus.Requested)
		{
			<div id="sparDetailsEditWrap" class="hidden">
				@{Html.RenderPartial("SparDetailsEdit", Model);}
			</div>
		}
		else
		{
			<div id="updateSparDetailsModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Update Spar Details</h4>
						</div>
						<div class="modal-body">
							@{Html.RenderPartial("SparDetailsEdit", Model);}
						</div>
					</div>
				</div>
			</div>
		}

        @if (Model.SparRequesStatus != SparModel.SparRequestStatus.Requested)
        { 
        <div id="sparDetailsInfo" class="hidden">
            @{ Html.RenderPartial("SparInformationInfoBox", Model); }

			@if (Model.SparRequesStatus == SparModel.SparRequestStatus.DateLocationNegotiation && Model.SparDate > DateTime.Now.AddDays(1))
			{
			<div class="row form-group">
				<div class="col-md-8 col-md-offset-2">
					<div class="inner-addon left-addon">
						@Html.TextAreaFor(m => m.SparNotesNew, 2, 4, new { @class = "form-control", placeholder = "Leave a message ..." })
						@Html.ValidationMessageFor(m => m.SparNotesNew)
						@Html.HiddenFor(m => m.SparNotes)
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2 col-xs-12">
					<input type="submit" class="btn btn-danger btn-lg col-xs-12" value="Send Message" />
                </div>
				<div class="col-md-5"></div>
			</div>
			}
        </div>
        }

        <div id="confirmCancelSparyModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Cancel Spar Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to cancel spar with @Model.OpponentFighter.Name?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="return submitSparDetails('Canceled');" class="btn btn-danger">Cancel Spar</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

    @section scripts {
        <script>
    $(function () {
        $('#SparDate').datepicker();
        $('#SparDate').on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });

        $('#formSparDetails').validate();

        @if (Model.SparRequesStatus == SparModel.SparRequestStatus.Requested && Model.IsThisFighterLastNegotiator() == false)
        {
        @:showSparDetailsEdit();
        }
        else
        {
        @:showSparDetailsInfo();
        }
    });

    function submitSparDetails(sparRequestStatus) {

        if ($('#formSparDetails').valid() == false) {
            $('#SparDate').datepicker('hide');
            return false;
        }
        else {
            $('#SparRequesStatus').val(sparRequestStatus);

            $('#formSparDetails').submit();
        }

        return true;
    }

    function showSparDetailsInfo() {
        $('#sparDetailsInfo').removeClass('hidden');
        $('#sparDetailsEditWrap').addClass('hidden');
    }

    function showSparDetailsEdit() {
		@if (Model.SparRequesStatus == SparModel.SparRequestStatus.Requested)
		{
		<text>
    	$('#sparDetailsEditWrap').removeClass('hidden');
    	$('#sparDetailsInfo').addClass('hidden');
    	</text>
		}
		else
		{
		<text>
    	$('#updateSparDetailsModal').modal('show');
		</text>
		}
    }

    </script>
    }
