@model SparWeb.Models.TrainersViewModel

@{
	var searchState = String.IsNullOrEmpty(Model.SearchStateLong) ? "All" : Model.SearchStateLong;
	var title = String.Format("{0} Boxing / MMA Gyms", searchState);
	ViewBag.Title = title;
}

<h2>@title</h2>

<div class="row">
	<div class="col-md-4">
		@{Html.RenderPartial("SearchByStateBox", new SparWeb.Models.SearchByStateViewModel() { SearchState = Model.SearchState, AllUrl = "/Trainers/" });}
	</div>
	<div class="col-md-8">
		@if (Model.TrainersList.Count > 0)
		{
			foreach (var currTrainer in Model.TrainersList)
			{
				@Html.Partial("TrainerInfo", currTrainer)
			}

			if (Model.PagesCount > 1)
			{
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							@if (Model.PageNumber > 1)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber - 1}) + Model.FilterParamsQueryString)">&laquo;</a></li>
							}

							@for (int i = 1; i <= Model.PagesCount; i++)
							{
								if (i != Model.PageNumber)
								{
									<li><a href="@(Url.Action("Index", new { page = i }) + Model.FilterParamsQueryString)">@i</a></li>
								}
								else
								{
									<li class="active"><a href="#">@i</a></li>
								}
							}

							@if (Model.PageNumber < Model.PagesCount)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber + 1 }) + Model.FilterParamsQueryString)">&raquo;</a></li>
							}
						</ul>
					</div>
				</div>
			}
		}
		else
		{
			<h3>No trainers found ...</h3>
		}
	</div>
</div>
