@model SparWeb.Models.TrainersViewModel

@{
	var searchState = String.IsNullOrEmpty(Model.SearchStateLong) ? "All" : Model.SearchStateLong;
	var title = String.Format("{0} Boxing/MMA Trainers", searchState);
	ViewBag.Title = title;
}

<div class="row">
	<div class="col-md-4">
		@{Html.RenderPartial("SearchByStateBox", new SparWeb.Models.SearchByStateViewModel() { SearchState = Model.SearchState, SearchWhat = "trainers", AllUrl = "/Trainers/" });}
	</div>
	<div class="col-md-8">
		@if (Model.TrainersList.Count > 0)
		{
			if (Request.IsAuthenticated == false)
			{
				<div class="row">
					<div class="col-md-12 text-center" style="margin-bottom: 20px;">
						<a class="btn btn-success btn-lg" href="/Account/Register?m=2" onclick="@((System.Configuration.ConfigurationManager.AppSettings["Include3rdPartyScripts"] == "true") ? "ga('send', 'event', 'Registration', 'State Register Click');" : "")">Register as Trainer@((String.IsNullOrEmpty(Model.SearchState) == false) ? " in " + Util.States[Model.SearchState] : "")</a>
					</div>
				</div>
			}

			foreach (var currTrainer in Model.TrainersList)
			{
				@Html.Partial("TrainerInfo", currTrainer)
			}

			if (Model.PagesCount > 1)
			{
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							@if (Model.PageNumber > 1)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber - 1}) + Model.FilterParamsQueryString)">&laquo;</a></li>
							}

							@for (int i = 1; i <= Model.PagesCount; i++)
							{
								if (i != Model.PageNumber)
								{
									<li><a href="@(Url.Action("Index", new { page = i }) + Model.FilterParamsQueryString)">@i</a></li>
								}
								else
								{
									<li class="active"><a href="#">@i</a></li>
								}
							}

							@if (Model.PageNumber < Model.PagesCount)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber + 1 }) + Model.FilterParamsQueryString)">&raquo;</a></li>
							}
						</ul>
					</div>
				</div>
			}
		}
		else
		{
			<h3>No trainers found ...</h3>
		}
	</div>
</div>

<script type="text/javascript">
	$(function () {
		@if (Request.IsAuthenticated == false && System.Configuration.ConfigurationManager.AppSettings["Include3rdPartyScripts"] == "true")
		{
			@:ga('send', 'event', 'Registration', 'State Register Displayed');
		}
	})
</script>
