@model SparWeb.Models.DateOfBirth

<div class="row">
    <div class="col-md-3">
        @Html.LabelFor(m => m.Month) @Html.TextBoxFor(m => m.Month, new { @class = "form-control" })
    </div>
    <div class="col-md-3">
        @Html.LabelFor(m => m.Day)  @Html.TextBoxFor(m => m.Day, new { @class = "form-control" })
    </div>
    <div class="col-md-5">
        @Html.LabelFor(m => m.Year)  @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
    </div>
 </div>

