@model SparWeb.Models.HomeViewModel

@{
    ViewBag.Title = "Find Boxing Sparring Partner";
}

@*<div class="jumbotron">
    <h1>SparGym</h1>
    <h2>Find boxing sparring partner in New York</h2>
    <p class="lead">SparGym is the ultimate resource for finding boxing sparring partners in New York. Register now to become a part of our boxing community and to schedule your next spar!</p>
    <p><a href="@Url.Content("~/Account/Register")" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>*@

<div class="panel">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img alt="SparGym - find boxing spar partner in New York" src="~/Content/Images/spargym-header1.jpg">
                <div class="carousel-caption">
                    <h4>Find boxing sparring partner in New York</h4>
                    <p>SparGym is the ultimate resource for finding boxing sparring partners in New York. Register now to become a part of our boxing community and to schedule your next spar!</p>
                    <p><a href="@Url.Content("~/Account/Register")" class="btn btn-success btn-lg">Register &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <img alt="SparGym - find boxing spar partner in New York" src="~/Content/Images/spargym-header2.jpg">
                <div class="carousel-caption">
                    <h4>SparGym makes it really easy to find boxing spar partner of any level</h4>
                    <p>No matter if you are beginner or experienced boxer, you will find the right spar partner for yourself. Register today to schedule your next spar for tomorrow!</p>
                    <p><a href="@Url.Content("~/Account/Register")" class="btn btn-success btn-lg">Register &raquo;</a></p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Filter fighters by:</h3>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.AgeRange, new { @class = "control-label" })
                    @if (Model.AgeRange == 0)
                    {
                        @Html.DropDownListFor(m => m.AgeRange, (new SelectList(ViewBag.AgeRange, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.AgeRange)
                        @Html.DropDownListFor(m => m.AgeRange, (new SelectList(ViewBag.AgeRange, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", disabled = "disabled" })
                        <p><a href="#" class="pull-right clearFilter">Clear</a></p>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
                    @if (Model.Weight == 0)
                    {
                        @Html.DropDownListFor(m => m.Weight, (new SelectList(ViewBag.WeightClassMap, "Key", "Value", Model.Weight)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.Weight)
                        @Html.DropDownListFor(m => m.Weight, (new SelectList(ViewBag.WeightClassMap, "Key", "Value", Model.Weight)), "Please select", new { @class = "form-control", disabled = "disabled" })
                        <p><a href="#" class="pull-right clearFilter">Clear</a></p>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Height, new { @class = "control-label" })
                    @if (Model.Height == 0)
                    {
                        @Html.DropDownListFor(m => m.Height, (new SelectList(ViewBag.HeightToCentimetersMap, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.Height)
                        @Html.DropDownListFor(m => m.Height, (new SelectList(ViewBag.HeightToCentimetersMap, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", disabled = "disabled" })
                        <p><a href="#" class="pull-right clearFilter">Clear</a></p>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberOfFights, new { @class = "control-label" })
                    @if (Model.NumberOfFights == 0)
                    {
                        @Html.DropDownListFor(m => m.NumberOfFights, (new SelectList(ViewBag.NumberOfFights, "Key", "Value", Model.NumberOfFights)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.NumberOfFights)
                        @Html.DropDownListFor(m => m.NumberOfFights, (new SelectList(ViewBag.NumberOfFights, "Key", "Value", Model.NumberOfFights)), "Please select", new { @class = "form-control", disabled = "disabled" })
                        <p><a href="#" class="pull-right clearFilter">Clear</a></p>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sex, new { @class = "control-label" })
                    <div class="ageFilter">
                        @Html.EditorFor(m => m.Sex, "Sex")
                        @if (Model.Sex != null)
                        {
                            <span><a href="#" class="pull-right clearFilter">Clear</a></span>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var currModel in Model.FightersList)
        {
            @Html.Partial("SparFighter", currModel)
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.ageFilter').find('input[type=radio]').click(function () {
            $(this).closest('form').submit();
        });

        $('.clearFilter').click(function () {
            $(this).parent().siblings('select').val('');
            $(this).parent().siblings('input[type=hidden]').val('');
            $(this).parent().siblings('input[type=radio]').val('');
            $(this).closest('form').submit();
        });
    });
</script>