@model SparWeb.Models.HomeViewModel

@{
    ViewBag.Title = "Find Boxing Sparring Partner";
}

<div class="jumbotron">
    <h1>SparGym</h1>
    <h2>Find boxing sparring partner in New York</h2>
    <p class="lead">SparGym is the ultimate resource for finding boxing sparring partners in New York. Register now to become a part of our boxing community and to schedule your next spar!</p>
    <p><a href="@Url.Content("~/Account/Register")" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Filter fighters by:</h3>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.AgeRange, new { @class = "control-label" })
                    @if (Model.AgeRange == 0)
                    {
                        @Html.DropDownListFor(m => m.AgeRange, (new SelectList(ViewBag.AgeRange, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.AgeRange, (new SelectList(ViewBag.AgeRange, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", disabled = "disabled" })
                        <p><a href="#" class="pull-right clearFilter">Clear</a></p>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Weight, (new SelectList(ViewBag.WeightClassMap, "Key", "Value", Model.Weight)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Height, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Height, (new SelectList(ViewBag.HeightToCentimetersMap, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sex, new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(m => m.Sex, "Sex")
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var currModel in Model.FightersList)
        {
            @Html.Partial("SparFighter", currModel)
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.clearFilter').click(function () {
            $(this).siblings('select').val('');
            $(this).closest('form').submit();
        });
    });
</script>