@model SparWeb.Models.AccountFighterViewModel

@{
	ViewBag.Title = String.Format("Spar with {0} from {1}, {2}", Model.Name, Model.City, Model.State);
	ViewBag.MetaDescription = String.Format("{0} from {1}, {2}; Age: {3}; Height: {4}; Weight class: {5}; Stance: {6}; Number of fights: {7}", Model.Name, Model.City, Model.State, Model.Age, ViewBag.HeightToCentimetersMap[Model.Height], ViewBag.WeightClassMap[Model.Weight], ((Model.IsSouthpaw) ? "Left-Handed" : "Right-Handed"), String.Format("{0} amateur{1}", Model.NumberOfAmateurFights, ((Model.NumberOfProFights > 0)? " / " + Model.NumberOfProFights + " pro" : "")));
}

<div class="row account-info-section">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="profilePictureDefaultFighter @((Model.ProfilePictureUploaded == true)? "hidden" : "")">
		</div>
		<div class="title hidden-md hidden-lg">
			<span class="fighterNameSmall">@Html.ValueFor(m => m.Name)</span>
			<div class="row">
				<div class="col-md-12">
					from <span class="gymNameSmall">@Html.Raw(Util.GetGymLink(Model))</span>
					<br>
					<span>@Model.City, @Model.State</span>
				</div>
			</div>
		</div>
		<div class="profilePicture @((Model.ProfilePictureUploaded == false)? "hidden" : "")">
			<img height="250" src="@Model.ProfilePictureFile" class="img-responsive img-thumbnail" />
		</div>
	</div>
	<div class="col-md-6">
		@{Html.RenderPartial("FighterAttributes", Model);}
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-9 accountNotes">
		@Html.Raw(Model.GetHtmlFormattedComments())
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-offset-4 col-md-4">
		<p class="text-center">
			@{Html.RenderPartial("SparButton", Model);}
		</p>
	</div>
</div>
