@model SparWeb.Models.AccountViewModel

<div class="row">
    <div class="col-md-3">
        @if (Model.ProfilePictureUploaded == false) {
        <div class="profilePictureDefault dropzone">
            <p class="profileUploadPicHeader">Upload your picture now!</p> 
            <p class="profileUploadPicSubeader"><a class="profileUploadPicAction" href="#">(drop file here or click)</a></p>
        </div>
        }
        <div class="profilePicture" style="display:none;">
            <img height="250"/>
        </div>
    </div>
    <div class="col-md-6">
        <span class="fighterName">@Html.ValueFor(m => m.Name)</span>
        <div class="row">
            <div class="col-md-12">
                from <span class="gymName">@Html.ValueFor(m => m.GymName)</span>
            </div>
        </div>
        <div class="well top-buffer">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Age):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Age)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Height):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Height)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Weight):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Weight)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.NumberOfFights):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.NumberOfFights)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/dropzone")

    <script type="text/javascript">
        //Dropzone.autoDiscover = false;
        $(function () {
            @if (Model.ProfilePictureUploaded == false)
            {
            <text>
            //initializing DropZone
            $(".profilePictureDefault").dropzone({
                url: "@Url.Action("UploadProfilePicture", "Account")",
                thumbnailWidth: 150,
                thumbnailHeight: 150,
                init: function () {
                    this.on("complete", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');
                        if (res.Message != "Error") {
                            $('.profilePictureDefault').hide();
                            $('.dz-preview').hide();

                            showProfilePicture(res.Message);
                        }
                    });
                }
            });

            //making sure we text passes click events to dropzone div
            $(".profileUploadPicAction").click(function () {
                $(this).parent().parent().trigger("click");
            });
            $(".profileUploadPicHeader").click(function () {
                $(this).parent().trigger("click");
            });
            </text>
            }
            else
            {
                @:showProfilePicture('@Model.ProfilePictureFile');
            }
             
        });

        function showProfilePicture(pictureFileName) {
            $('.profilePicture').find('img').attr("src", pictureFileName);
            $('.profilePicture').show();
        }
    </script>
}
