@model SparWeb.Models.AccountViewModel

@{
    ViewBag.Title = "Account Summary";
}

<div class="row account-info-section">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="profilePictureDefault dropzone @((Model.ProfilePictureUploaded == true)? "hidden" : "")">
            <p class="profileUploadPicHeader">Upload your picture now!</p>
            <p class="profileUploadPicSubeader"><a class="profileUploadPicAction" href="#">(drop file here or click)</a></p>
        </div>
        <div class="cancelProfilePictureUpdate hidden">
            <p class="text-center"><a href="#" onclick="showProfilePicture('@Model.ProfilePictureFile');">Cancel</a></p>
        </div>
        <div class="profilePicture @((Model.ProfilePictureUploaded == false)? "hidden" : "")">
            <img height="250" />
            <p class="text-center"><a href="#" onclick="updateProfilePicture();">Update Picture</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <span class="fighterName">@Html.ValueFor(m => m.Name)</span>
        <div class="row">
            <div class="col-md-12">
                from <span class="gymName">@Html.ValueFor(m => m.GymName)</span>
                <br />
                <span>@Model.City, @Model.State</span>
            </div>
        </div>
        <div class="well top-buffer">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Age):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Age)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Height):
                </div>
                <div class="col-md-8">
                    @ViewBag.HeightToCentimetersMap[Model.Height]
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Weight):
                </div>
                <div class="col-md-8">
                    @ViewBag.WeightClassMap[Model.Weight]
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IsSouthpaw):
                </div>
                <div class="col-md-8">
                    @((Model.IsSouthpaw) ? "Left-Handed" : "Right-Handed")
                </div>
            </div>            <div class="row">
                <div class="col-md-4">
                    <label for="NumberOfAmateurFights">Number of fights</label>:
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.NumberOfAmateurFights) amateur
                    @if (Model.NumberOfProFights > 0)
                    {
                        @:/ <strong>@Html.DisplayFor(model => model.NumberOfProFights) pro</strong>
                    }
                </div>
            </div>
        </div>
        <div class="update-profile-info">
            <p class="text-right"><a href="#" onclick="$('#updateProfileModel').modal('show');">Update Profile</a></p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center">
            <a class="btn btn-success btn-lg" href="@Url.Content("~/")">Find Spar Prtners »</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h2>Upcoming Spars:</h2>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 upcomingSpars">
        @if (Model.SparRequests.Count > 0 && Model.SparRequests.Any(sr => sr.SparRequesStatus == SparModel.SparRequestStatus.Confirmed) == true)
        {
            foreach (SparWeb.Models.ConfirmSparDetailsViewModel currSparRequest in Model.SparRequests)
            {
                if (currSparRequest.SparRequesStatus == SparModel.SparRequestStatus.Confirmed)
                {
                    <div class="container" data-saprrequestid="@currSparRequest.SparRequestId">
                        <div class="row well well-sm spar-fighter">
                            <div class="col-md-3 vAlignCenter">
                                <div>
                                    <img height="@currSparRequest.ProfilePictureSize" src="@Util.GetProfilePictureFileForFighter(currSparRequest.OpponentFighter, currSparRequest.ProfilePictureSize)" />
                                </div>
                            </div>
                            <div class="col-md-6 vAlignCenter">
                                <span class="fighterNameSmall">@currSparRequest.OpponentFighter.Name</span>
                                <div class="row">
                                    <div class="col-md-12">
                                        from <span class="gymNameSmall">@currSparRequest.OpponentFighter.Gym.Name</span>
                                    </div>
                                </div>
                                @{ Html.RenderPartial("SparInformation", currSparRequest); }
                            </div>
                            <div class="col-md-2 vAlignCenter">
                                <input type="button" value="Cancel Spar" class="btn btn-default btn-danger btn-lg" onclick="confirmCancelSpar('@currSparRequest.OpponentFighter.Name', '@currSparRequest.SparRequestId');" />
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>You have no spars scheduled at this time</p>
        }
    </div>
    <div class="col-md-2"></div>
</div>
<div id="confirmCancelSparyModal" class="modal fade">
    <input type="hidden" name="cancelSparRequestId" id="cancelSparRequestId" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancel Spar Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel spar with <span></span> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="doCancelSpar();" class="btn btn-primary">Cancel Spar</button>
            </div>
        </div>
    </div>
</div>

<div id="updateProfileModel" class="modal fade">
    <div class="modal-dialog">
        @Html.BeginForm("UpdateProfileInfo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Profile Information</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.City) })
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.State, (new SelectList(ViewBag.States, "Key", "Value", Model.State)), "Please select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GymName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.GymName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.GymName) + " (optional)" })
                        @Html.ValidationMessageFor(m => m.GymName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Height, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.Height, (new SelectList(ViewBag.HeightToCentimetersMap, "Key", "Value", Model.Height)), "Please select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.Height)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Weight, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Weight, (new SelectList(ViewBag.WeightClassMap, "Key", "Value", Model.Weight)), "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Weight)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsSouthpaw, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.IsSouthpaw, "IsSouthpaw")
                        @Html.ValidationMessageFor(m => m.IsSouthpaw)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="NumberOfAmateurFights">Number of fights</label>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.NumberOfAmateurFights) @Html.TextBoxFor(m => m.NumberOfAmateurFights, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.NumberOfAmateurFights) })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.NumberOfProFights)  @Html.TextBoxFor(m => m.NumberOfProFights, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.NumberOfProFights) })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">@Html.ValidationMessageFor(m => m.NumberOfAmateurFights)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">@Html.ValidationMessageFor(m => m.NumberOfProFights)</div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            @{Html.EndForm();}
        </div>
    </div>
</div>

    @section scripts{
        @Scripts.Render("~/bundles/dropzone")
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">
    //Dropzone.autoDiscover = false;
    $(function () {

        //initializing DropZone
        initializeDropZone();

        //making sure we text passes click events to dropzone div
        $(".profileUploadPicAction").click(function () {
            $(this).parent().parent().trigger("click");
        });
        $(".profileUploadPicHeader").click(function () {
            $(this).parent().trigger("click");
        });


        @if (Model.ProfilePictureUploaded == true)
        {
            @:showProfilePicture('@Model.ProfilePictureFile');
        }
    });

    function initializeDropZone() {
        $(".profilePictureDefault").dropzone({
            url: "@Url.Action("UploadProfilePicture", "Account")",
            thumbnailWidth: 150,
            thumbnailHeight: 150,
            init: function () {
                this.on("complete", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    if (res.Message.indexOf("Error:") != 0) {
                        $('.profilePictureDefault').hide();
                        $('.dz-preview').hide();

                        showProfilePicture(res.Message);
                    }
                    else {
                        alert(res.Message);
                    }
                });
            }
        });
    }

    function showProfilePicture(pictureFileName) {
        $('.cancelProfilePictureUpdate').addClass('hidden');
        $('.profilePictureDefault').addClass('hidden');
        $('.profilePicture').find('img').attr("src", pictureFileName);
        $('.profilePicture').removeClass('hidden');
    }

    function updateProfilePicture() {
        $('.profilePicture').addClass('hidden');
        $('.profilePictureDefault').removeClass('hidden');
        $('.cancelProfilePictureUpdate').removeClass('hidden');
    }

    function confirmCancelSpar(opponentFighterName, sparRequestId) {
        $('#confirmCancelSparyModal').find('p').find('span').text(opponentFighterName);
        $('#cancelSparRequestId').val(sparRequestId);
        $('#confirmCancelSparyModal').modal('show');
    }

    function doCancelSpar() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CancelSpar", "Spar")',
            data: { sparRequestId: $('#cancelSparRequestId').val() },
            success: function (data) {
                $('.upcomingSpars').find('.container[data-saprRequestId="' + $('#cancelSparRequestId').val() + '"]').remove();
                $('#cancelSparRequestId').val('');
                $('#confirmCancelSparyModal').modal('hide');
            }
        });
    }
        </script>
    }
