@model SparWeb.Models.AccountTrainerViewModel

@{
    ViewBag.Title = "Account Summary";
}

<div class="row account-info-section">
    <div class="col-md-1"></div>
    <div class="col-md-3 profilePictureSection">
		@{Html.RenderPartial("ProfilePicture", Model);}
    </div>
    <div class="col-md-6">
        <div class="title hidden-xs hidden-sm">
            <span class="fighterNameSmall">@Html.ValueFor(m => m.Name)</span>
            <div class="row">
                <div class="col-md-12">
                    from <span class="gymNameSmall">@Html.ValueFor(m => m.GymName)</span>
                    <br />
                    <span>@Model.City, @Model.State</span>
                </div>
            </div>
        </div>
        <div class="update-profile-info">
            <p class="text-left"><br /><a href="#">Update Profile</a></p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center">
            <a class="btn btn-success btn-lg col-xs-12 col-sm-3 col-sm-offset-4" href="@Url.Content("~/")">Find Spar Partners »</a>
        </p>
    </div>
</div>

<div id="updateProfileModel" class="modal fade">
    <div class="modal-dialog">
        @Html.BeginForm("UpdateTrainerProfileInfo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.ProfilePictureUploaded)
        @Html.HiddenFor(m => m.ProfilePictureFile)
        @Html.HiddenFor(m => m.Age)
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Profile Information</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.City) })
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.State, (new SelectList(ViewBag.States, "Key", "Value", Model.State)), "Please select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GymName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.GymName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.GymName) + " (optional)" })
                        @Html.ValidationMessageFor(m => m.GymName)
                    </div>
                </div>          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            @{Html.EndForm();}
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $('.update-profile-info').find('a').click(function () {
            $('#updateProfileModel').addClass('fade');
            $('#updateProfileModel').modal('show');
        });
        
        @if (ViewBag.ShowUpdateProfileModal != null)
        {
            <text>
            $('#updateProfileModel').removeClass('fade');
            $('#updateProfileModel').modal('show');
            </text>
        }
    });
</script>
}
