@model SparWeb.Models.AccountViewModel

@{
    ViewBag.Title = "Account Summary";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @if (Model.ProfilePictureUploaded == false) {
        <div class="profilePictureDefault dropzone">
            <p class="profileUploadPicHeader">Upload your picture now!</p> 
            <p class="profileUploadPicSubeader"><a class="profileUploadPicAction" href="#">(drop file here or click)</a></p>
        </div>
        }
        <div class="profilePicture" style="display:none;">
            <img height="250"/>
        </div>
    </div>
    <div class="col-md-6">
        <span class="fighterName">@Html.ValueFor(m => m.Name)</span>
        <div class="row">
            <div class="col-md-12">
                from <span class="gymName">@Html.ValueFor(m => m.GymName)</span>
            </div>
        </div>
        <div class="well top-buffer">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Age):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Age)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Height):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Height)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Weight):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.Weight)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.NumberOfFights):
                </div>
                <div class="col-md-8">
                    @Html.ValueFor(m => m.NumberOfFights)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h2>Upcoming Spars:</h2>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 upcomingSpars">
        @if (Model.SparRequests.Count > 0)
        { 
            foreach (SparWeb.Models.ConfirmSparDetailsViewModel currSparRequest in Model.SparRequests)
            {
                <div class="container" data-saprRequestId="@currSparRequest.SparRequestId">
                    <div class="row well well-sm spar-fighter">
                        <div class="col-md-3 vAlignCenter">
                            <div>
                                <img height="@currSparRequest.ProfilePictureSize" src="@Util.GetProfilePictureFileForFighter(currSparRequest.OpponentFighter, currSparRequest.ProfilePictureSize)" />
                            </div>
                        </div>
                        <div class="col-md-6 vAlignCenter">
                            <span class="fighterNameSmall">@currSparRequest.OpponentFighter.Name</span>
                            <div class="row">
                                <div class="col-md-12">
                                    from <span class="gymNameSmall">@currSparRequest.OpponentFighter.Gym.Name</span>
                                </div>
                            </div>
                            @{ Html.RenderPartial("SparInformation", currSparRequest); }
                        </div>
                        <div class="col-md-2 vAlignCenter">
                            <input type="button" value="Cancel Spar" class="btn btn-default btn-danger btn-lg" onclick="confirmCancelSpar('@currSparRequest.OpponentFighter.Name', '@currSparRequest.SparRequestId');" />
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>You have no spars scheduled at this time</p>
        }
    </div>
    <div class="col-md-2"></div>
</div>
<div id="confirmCancelSparyModal" class="modal fade">
    <input type="hidden" name="cancelSparRequestId" id="cancelSparRequestId" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancel Spar Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel spar with <span></span> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="doCancelSpar();" class="btn btn-primary">Cancel Spar</button>
            </div>
        </div>
    </div>
</div>

    @section scripts{
        @Scripts.Render("~/bundles/dropzone")

        <script type="text/javascript">
            //Dropzone.autoDiscover = false;
            $(function () {
                @if (Model.ProfilePictureUploaded == false)
            {
            <text>
                //initializing DropZone
                $(".profilePictureDefault").dropzone({
                    url: "@Url.Action("UploadProfilePicture", "Account")",
                    thumbnailWidth: 150,
                    thumbnailHeight: 150,
                    init: function () {
                        this.on("complete", function (data) {
                            var res = eval('(' + data.xhr.responseText + ')');
                            if (res.Message.indexOf("Error:") != 0) {
                                $('.profilePictureDefault').hide();
                                $('.dz-preview').hide();

                                showProfilePicture(res.Message);
                            }
                            else {
                                alert(res.Message);
                            }
                        });
                    }
                });

                //making sure we text passes click events to dropzone div
                $(".profileUploadPicAction").click(function () {
                    $(this).parent().parent().trigger("click");
                });
                $(".profileUploadPicHeader").click(function () {
                    $(this).parent().trigger("click");
                });
                </text>
            }
            else
            {
                @:showProfilePicture('@Model.ProfilePictureFile');
                            }

            });

            function showProfilePicture(pictureFileName) {
                $('.profilePicture').find('img').attr("src", pictureFileName);
                $('.profilePicture').show();
            }

            function confirmCancelSpar(opponentFighterName, sparRequestId) {
                $('#confirmCancelSparyModal').find('p').find('span').text(opponentFighterName);
                $('#cancelSparRequestId').val(sparRequestId);
                $('#confirmCancelSparyModal').modal('show');
            }

            function doCancelSpar() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CancelSpar", "Spar")',
                    data: { sparRequestId: $('#cancelSparRequestId').val() },
                    success: function (data) {
                        $('.upcomingSpars').find('.container[data-saprRequestId="' + $('#cancelSparRequestId').val() + '"]').remove();
                        $('#cancelSparRequestId').val('');
                        $('#confirmCancelSparyModal').modal('hide');
                    }
                });
            }
        </script>
    }
