@model SparWeb.Models.GymsViewModel

@{
	var gymsScope = String.IsNullOrEmpty(Model.SearchStateLong) ? "All" : Model.SearchStateLong;
	var title = String.Format("{0} Boxing/MMA Gyms", gymsScope);
	ViewBag.Title = title;
}

<h2>@title</h2>

<div class="row">
	<div class="col-md-4">
		<div class="well" id="search-filters">
			<h3>Search gyms by state:</h3>
			@using (Html.BeginForm("Index", "Home", FormMethod.Get))
			{
				<div class="form-group">
					@Html.DropDownListFor(m => m.SearchState, (new SelectList(ViewBag.States, "Key", "Value", Model.SearchState)), "Please select state", new { @class = "form-control" })
				</div>
			}
		</div>
	</div>
	<div class="col-md-8">
		@if (Model.GymsList.Count > 0)
		{
			foreach (var currGym in Model.GymsList)
			{
				@Html.Partial("GymInfo", currGym)
			}

			if (Model.PagesCount > 1)
			{
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							@if (Model.PageNumber > 1)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber - 1}) + Model.FilterParamsQueryString)">&laquo;</a></li>
							}

							@for (int i = 1; i <= Model.PagesCount; i++)
							{
								if (i != Model.PageNumber)
								{
									<li><a href="@(Url.Action("Index", new { page = i }) + Model.FilterParamsQueryString)">@i</a></li>
								}
								else
								{
									<li class="active"><a href="#">@i</a></li>
								}
							}

							@if (Model.PageNumber < Model.PagesCount)
							{
								<li><a href="@(Url.Action("Index", new { page = Model.PageNumber + 1 }) + Model.FilterParamsQueryString)">&raquo;</a></li>
							}
						</ul>
					</div>
				</div>
			}
		}
		else
		{
			<h3>No gyms found ...</h3>
		}
	</div>
</div>

<script type="text/javascript">
	$(function () {
		$('#SearchState').change(function () {
			var selectedState = $("#SearchState option:selected").text();
			window.location = '/gyms/' + selectedState;
		});
	});
</script>