@model SparWeb.Models.RegisterMainViewModel

@{
	ViewBag.Title = "Registration";
}

<div class="row">
	<div id="registerFighterDiv">
		@using (Html.BeginForm("RegisterFighter", "Account", FormMethod.Post, new { @class = "form-horizontal register-form", role = "form" }))
		{
			<div class="row">
				<div class="@((Model.IsPopupMode == false)? "col-md-offset-2 col-md-8 text-center" : "col-md-offset-1 col-md-10 text-center")">
					<h2>Ready to Spar? Register as a Fighter</h2>
					@Html.AntiForgeryToken()
					<h4>Are you <b>Trainer</b> not a Fighter? <a href="#" id="registerTrainer">Click here</a> to register as a Trainer</h4>
					<p>Have an account already? @Html.ActionLink("Click Here to login", "Login", "Account")</p>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="@((Model.IsPopupMode == false)? "col-md-offset-2 col-md-6" : "col-md-10")">
					@{ Html.RenderPartial("RegisterFighterViewModel", new SparWeb.Models.RegisterFighterViewModel() { Sex = true, IsSouthpaw = false }); }

					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<br />
							<input type="submit" class="btn btn-default btn-primary btn-lg" value="Register" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							By signing up you agree to our @Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")
						</div>
					</div>
				</div>
			</div>
						}
	</div>
	<div id="registerTrainerDiv" class="hidden">
		@using (Html.BeginForm("RegisterTrainer", "Account", FormMethod.Post, new { @class = "form-horizontal register-form", role = "form" }))
		{
			<div class="row">
				<div class="@((Model.IsPopupMode == false)? "col-md-offset-2 col-md-8 text-center" : "col-md-offset-1 col-md-10 text-center")">
					<h2>Register as a Trainer</h2>
					@Html.AntiForgeryToken()
					<h4>Are you <b>Fighter</b> not a Trainer? <a href="#" id="registerFighter">Click here</a> to register as a Fighter</h4>
					<p>Have an account already? @Html.ActionLink("Click Here to login", "Login", "Account")</p>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="@((Model.IsPopupMode == false) ? "col-md-offset-2 col-md-6" : "col-md-10")">
					@{ Html.RenderPartial("RegisterTrainerViewModel", new SparWeb.Models.RegisterTrainerViewModel()); }

					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<br />
							<input type="submit" class="btn btn-default btn-primary btn-lg" value="Register" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							By signing up you agree to our @Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@if (Model.IsFromBlog == false)
{
<script type="text/javascript">
	$(function () {
		$('#registerTrainer').click(function () {
			$('#registerFighterDiv').addClass('hidden');
			$('#registerTrainerDiv').removeClass('hidden');
			@if (System.Configuration.ConfigurationManager.AppSettings["Include3rdPartyScripts"] == "true")
			{
				@:ga('send', 'event', 'Registration', 'Register Trainer Clicked');
			}
		});

		$('#registerFighter').click(function () {
			$('#registerTrainerDiv').addClass('hidden');
			$('#registerFighterDiv').removeClass('hidden');
			@if (System.Configuration.ConfigurationManager.AppSettings["Include3rdPartyScripts"] == "true")
			{
				@:ga('send', 'event', 'Registration', 'Register Fighter Clicked');
			}
		});

		@if (Model.Mode == 1)
		{
			@:$('#registerFighter').click();

		}
		else if (Model.Mode == 2)
		{
			@:$('#registerTrainer').click();
		}
	});
</script>
}