@model SparWeb.Models.AccountViewModel

<div class="row well well-sm spar-fighter">
    <div class="col-md-3 vAlignCenter">
        <div class="profilePicture">
            <img height="150" src="@Model.ProfilePictureFile" />
        </div>
    </div>
    <div class="col-md-6 vAlignCenter">
        <span class="fighterNameSmall">@Html.ValueFor(m => m.Name)</span>
        <div class="row">
            <div class="col-md-12">
                from <span class="gymNameSmall">@Html.ValueFor(m => m.GymName)</span>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Age):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight) lb
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfFights) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfFights)
            </dd>
        </dl>
    </div>
    <div class="col-md-2 vAlignCenter">
        @Html.ActionLink("Spar " + Model.HimOrHer, "SparConfirmation", "Spar", new { ID = Model.ID }, new { @class = "btn btn-default btn-danger btn-lg" } )
    </div>
</div>

