@model SparWeb.Models.ConfirmSparDetailsViewModel

<dl class="dl-horizontal">
    <dt>@Html.LabelFor(m => m.SparDate):</dt>
	@if(Model.SparDate != null)
	{ 
    <dd>@Model.SparDate.Value.ToString("dddd, MMMM d, yyyy")</dd>
	}
	else
	{
	<dd>N/A</dd>
	}
    <div style="clear:both"></div>
    <dt>@Html.LabelFor(m => m.SparTime):</dt>
	@if (Model.SparTime != null)
	{ 
    <dd>@Model.SparTime</dd>
	}
	else
	{
	<dd>N/A</dd>
	}
    <div style="clear:both"></div>
    <dt>@Html.LabelFor(m => m.SparGym):</dt>
    @if (Model.SparGym != null)
    {
        <dd>@Model.SparGym.Name</dd>
    }
    else
    {
        <dd>N/A</dd>
    }
    @if (Model.ListSparNotes == false && String.IsNullOrEmpty(Model.SparNotes) == false)
    {
        <div style="clear:both"></div>
        <dt>@Html.LabelFor(m => m.SparNotes):</dt>
        <dd>@Html.DisplayFor(m => m.SparNotes)</dd>
    }
</dl>
@if (Model.ListSparNotes == true)
{
	Html.RenderPartial("SparNotesList", Model);
}