@model SparWeb.Models.SparConfirmationViewModel

<div class="row">
    <div class="col-md-5 vAlignCenter">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <img height="@Model.ProfilePictureSize" src="@Model.ThisProfilePictureFile" class="media-object img-thumbnail pull-left" />
                    <div class="media-body">
                        <h2 class="media-heading">@Model.ThisFighterName</h2>
                        <p>from <strong>@Model.ThisFighterGymName</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 vAlignCenter">
        <div class="row sparConfirmationRow">
            <h1><b>VS</b></h1>
        </div>
    </div>
    <div class="col-md-5 vAlignCenter">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <img height="@Model.ProfilePictureSize" src="@Model.OpponentProfilePictureFile" class="media-object img-thumbnail pull-left" />
                    <div class="media-body">
                        <h2 class="media-heading">@Model.OpponentFighterName</h2>
                        <p>from <strong>@Model.OpponentFighterGymName</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>