@model SparWeb.Models.SparConfirmationViewModel

<div class="row">
    <div class="col-md-5 col-sm-5 first-fighter">
        <div class="thumbnail fighterCard">
            <img height="@Model.ProfilePictureSize" src="@Util.GetProfilePictureFile(Model.ThisFighter, Model.ProfilePictureSize)" class="img-thumbnail" />
            <div class="caption text-center">
                <h3 class="media-heading">@Model.ThisFighter.Name</h3>
                <p>
                    from <strong>@((Model.ThisFighter.Gym != null) ? Model.ThisFighter.Gym.Name : "Unknown Gym")</strong>
                    <br />
                    @Model.ThisFighter.City, @Model.ThisFighter.State
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 ">
        <img src="@Url.Content("~/Content/Images/boxing-spar-sign.jpg")" class="boxingSparSign" />
    </div>
    <div class="col-md-5 col-sm-5 last-fighter">
        <div class="thumbnail fighterCard ">
            <img height="@Model.ProfilePictureSize" src="@Util.GetProfilePictureFile(Model.OpponentFighter, Model.ProfilePictureSize)" class="img-thumbnail" />
            <div class="caption text-center">
				<h3 class="media-heading"><a href="@Model.OpponentFighterUrl">@Model.OpponentFighter.Name</a></h3>
                <p>
                    from <strong>@((Model.OpponentFighter.Gym != null) ? Model.OpponentFighter.Gym.Name : "Unknown Gym")</strong>
                    <br />
                    @Model.OpponentFighter.City, @Model.OpponentFighter.State
                </p>
            </div>
        </div>
    </div>
</div>