@model SparWeb.Models.SparConfirmationViewModel

<div class="row text-center">
    <div class="col-md-5 vAlignCenter">
        <div class="pull-right thumbnail">
            <img height="@Model.ProfilePictureSize" src="@Model.ThisProfilePictureFile" class="thumbnail" />
            <div class="caption">
                <div><span class="fighterName">@Model.ThisFighterName</span></div>
                <div>from <span class="gymName">@Model.ThisFighterGymName</span></div>
            </div>
        </div>
    </div>
    <div class="col-md-1 vAlignCenter">
        <div class="row sparConfirmationRow">
            <h1><b>VS</b></h1>
        </div>
    </div>
    <div class="col-md-5 vAlignCenter">
        <div class="pull-left thumbnail">
            <img height="@Model.ProfilePictureSize" src="@Model.OpponentProfilePictureFile" class="thumbnail" />

            <div class="caption">
                <div><span class="fighterName">@Model.OpponentFighterName</span></div>
                <div>from <span class="gymName">@Model.OpponentFighterGymName</span></div>
            </div>
        </div>
    </div>
</div>